

    <div class="row page-label">
        <div class="col s12 l8 offset-l2">
            <div class="card">
                <div class="card-content">
                    <h4 class="light" style="padding:20px;">Profile</h4>

                    <span class="card-title activator greytext text-darken-3"><i class="material-icons right">mode_edit</i></span>

                  <ul id="profile-page-about-feed" class="collection z-depth-1 light">
                  <li class="collection-item avatar">
                    {{!--<img src="images/avatar.jpg" alt="" class="circle">--}}
                    <span class="title"><h2 class="light">{{user.first_name}} {{user.last_name}}</h2></span>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle">email</i>
                    <span class="title">Email</span>
                    <p>
                        {{user.email}}
                    </p>
                    
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle green">phone</i>
                    <span class="title">Mobile</span>
                    <p>{{user.mobile}}</p>
                  </li>
                  <li class="collection-item avatar">
                    <i class="material-icons circle light-blue darken-3">info</i>
                    <span class="title">Employee Id: {{user.empID}}</span>
                    <br>
                    <span class="title">Hospital: {{user.Partner.location}}</span>
                    <br>
                    <a href="#!" class="secondary-content"><i class="material-icons"></i></a>
                    <span class="title">Call Status: {{user.Status.status}}</span>
                   </li>
                </ul>


                </div>
                <div class="card-reveal">
                    <span class="card-title activator greytext text-darken-3">Update Account Details<i class="material-icons right">close</i></span>
                    <form class="col s12" action="/account?_method=PUT" method="POST">
                    <div class="row">
                        <div class="col s6">
                            <input name="first_name" type="text" class="validate" value="{{user.first_name}}">
                        </div>
                        <div class="col s6">
                            <input name="last_name" type="text" class="validate" value="{{user.last_name}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            <input name="email" type="email" class="validate" value="{{user.email}}">
                            <input name="id" type="hidden" value="{{user.id}}">
                        </div>
                        <div class="col s6">
                            <input name="mobile" type="tel" class="validate" value="{{user.mobile}}">
                            
                        </div>
                    </div>
                    <input name='id' value='{{user.id}}' type='hidden'>
                    <button class="waves-effect waves-light btn" type="Submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
